<%= turbo_frame_tag "user_profile_#{@user.id}" do %>
  <div class='row'>
    <div class='col-12 text-center' style="padding: 20px; background-color: #f2f2f2">
      <h1><%= @user.username %></h1>
      <h4><%= @user.email %></h4>
      <h1><%= @user.bio %></h1>
    </div>
  </div>

  <div class="row justify-content-center" style="padding: 20px;">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, style: "width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" %>
    <% else %>
      <%= image_tag "default_avatar.png", style: "width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" %>
    <% end %>
  </div>

  <div class="row justify-content-center" style="margin-top: 20px;">
    <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_path(@user), method: :post, class: "btn btn-danger" %>
    <% elsif current_user.sent_follow_request_to?(@user) %>
      <%= button_to "Cancel Request", cancel_path(@user), method: :post, class: "btn btn-warning" %>
    <% else %>
      <%= button_to "Follow", follow_path(@user), method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
