<div class="col-xl-4 col-md-6 col-sm-8 col-10" style="margin: auto; background-color: #f8f8f8; border-radius: 6px; padding: 15px">
  <%= form_with(model: post, local: true) do |form| %>
    <h1>New post</h1>

    <div>
      <% invalid = post.errors.include?(:title) %>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "form-control" %>
      <% if invalid %>
        <div class="text-danger">
          <%= post.errors.full_messages_for(:title).join(", ") %>
        </div>
      <% end %>
    </div>

    <div>
      <% invalid = post.errors.include?(:description) %>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description, class: "form-control" %>
      <% if invalid %>
        <div class="text-danger">
          <%= post.errors.full_messages_for(:description).join(", ") %>
        </div>
      <% end %>
    </div>

    <div>
      <% invalid = post.errors.include?(:keywords) %>
      <%= form.label :keywords, style: "display: block" %>
      <%= form.text_field :keywords, class: "form-control" %>
      <% if invalid %>
        <div class="text-danger">
          <%= post.errors.full_messages_for(:keywords).join(", ") %>
        </div>
      <% end %>
    </div>

    <div>
      <%= form.label :images, "Upload Images", style: "display: block" %>
      <%= form.file_field :images, multiple: true, class: "form-control" %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary col-12" %>
    </div>
  <% end %>
</div>
