<%= link_to post, class: "post-container" do %>
  <div id="<%= dom_id(post) %>" class="post">
    <p>
      <%= post.title %>
    </p>

    <p>
      <%= post.description %>
    </p>

    <p>
      <%= post.keywords %>
    </p>
  </div>
<% end %>
