<%= link_to post, class: "post-container" do %>
  <div id="<%= dom_id(post) %>" class="post">
    <p>
      <%= post.title %>
    </p>

    <p>
      <%= post.description %>
    </p>

    <p>
      <%= post.keywords %>
    </p>

    <% if post.user %>
      <p>
        <%= post.user.email %>
      </p>
    <% else %>
      <p>User not assigned</p>
    <% end %>
 
    <% if post.images.attached? %>
      <div class="post-images">
        <% post.images.each do |image| %>
          <%= image_tag image, style: "width: 300px; height: 300px; object-fit: cover; aspect-ratio: 1 / 1;" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
