<%= link_to post_path(post) do %>
  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <p><%= post.keywords %></p>

    <% if post.images.attached? %>
  <div class="post-images">
    <% post.images.each do |image| %>
      <%= image_tag url_for(image), style: "width: 300px; height: 300px; object-fit: cover;" %>
    <% end %>
  </div>
<% end %>

  </div>
<% end %>

<p><%= link_to post.user.email, user_path(post.user), data: { turbo: false } %></p>


<% if user_signed_in? %>
  <% like = current_user.likes.find_by(post: post) %>
  <% if like.nil? %>
    <%= button_to "Like", likes_path, params: { like: { post_id: post.id } }, method: :post %>
  <% else %>
    <%= button_to "Unlike", like_path(like), method: :delete %>
  <% end %>
<% end %>

<p><%= post.likes.count %> Likes</p>
